.section2 {
    width: 1440px;
    height: 300px;
    margin: auto;
    background: #F6EEFC;

    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section2 p{
width: Hug (470.52px)px;
height: Hug (90.5px)px;


}

.b1{
font-size:18px;
}

.demo{
    font-size: 10px;
    width: 90px;
    height: 25px;
    border: 1px solid black;
    border-radius: 30px;
    background: #7622D7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
}